*{
    margin: 0;
    padding: 0;
    font-family: Arial;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: black;
}
.contanier{
    display: flex;
    width: 70%;
    height: 60%;
    padding: 50px 100px;
}
.text{
    width: 50%;
    height: 100%;
    background-color: hsl(243, 37%, 21%);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    color: white;
    row-gap: 20px;
    padding-left: 5%;
    padding-right: 5%;

    /* padding: 100px 100px 100px 100px; */
    
}
.image{
    position: relative;
    width: 50%;
    height: 100%;
    background-image: url(images/image-header-desktop.jpg );
    background-size: cover;       /* makes image fill the box */
    background-position: center;  /* keeps image centered */
    background-repeat: no-repeat;
    /* padding: 100px 100px 100px 100px; */
}
.imagecolor{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(277, 95%, 47%, 0.4);
}
.about{
    display: flex;
    justify-content: space-between;
    margin-right: 10%;
}

.common{
    color: hsla(0, 0%, 100%, 0.75);
}
.about .common{
    letter-spacing: 2px;
    font-size: 10px;
}
.aboutfigher{
    font-weight: bolder;
}

.about p:hover{
    font-size: xx-large;
    color: hsla(277, 95%, 47%, 0.4);
}
.attribution a:hover{
    font-size: x-large;
}
.insights:hover{
    font-size: xxx-large;
}

/* for mobail display.. */

@media (max-width : 375px){
    *{
        padding: 0%;
        margin: 0%;
         background-color: hsl(243, 37%, 21%);
    }
    body{
        width: 100vw;
        display: block;
        padding: 0%;
        margin: 0%;
    }
    .contanier{
        width: 100vw;
        padding: 0px;
        margin: 0px;
        display: flex;
        flex-direction: column;
        height: auto;

    }
    .image{
        background-image: url(images/image-header-mobile.jpg);
        background-size: cover;
        width: 100vw;
        height: 270px;
        order: 1;
        margin: 0%;
        padding: 0%;
    }
    .text{
        order: 2;
        margin: 0%;
        padding: 0%;

        display: flex;
        justify-content: center;
        align-self: center;
    }
    .text{
        position: relative;
        top: 40px;
        width: 100vw;
        height: auto;
        height: 400px;

    }
    .mobailtext{
        width: 70%;
        align-self: center;
        text-align: center;
    }
    h1{
       background-color: hsl(243, 37%, 21%); 
       font-size: 30px;
    }
    .about{
        position: relative;
        top: 60px;
        margin-right: 0%;
        justify-content: space-around;
    }
    .about .common{
        letter-spacing: 1px;
        font-size: 10px;
    }
    .attribution{
        position: relative;
        margin-top: 40px;
    }

}